<!DOCTYPE html>
<html lang="en">
   <%-  include("../../partials/head.ejs")%>
   <body class="font-poppins overflow-y-auto overflow-x-hidden scrollbar scrollbar-thin scrollbar-rounded-lg" id="particles-js">
      <wrap class="flex justify-center">
         <section class="bg-cover bg-center w-[98%] rounded-lg mt-[1rem]"
            style="background-image: url('<%=city.banner_image%>'); ">
            <%- include("../../partials/navbar.ejs")%>
            <section class="mb-[7rem]">
               <p class="uppercase text-[#DEE2E6] pt-10 px-[5rem]">Cities</p>
               <div class="px-[5rem] flex justify-between">
                  <div class="flex flex-col">
                     <div class="flex flex-col ">
                        <p class="text-[3rem] bg-gradient-to-r from-button-blue to-purple-500 bg-clip-text">
                           Bucuresti
                        </p>
                        <p class="text-[3rem] text-[#DEE2E6]">the city of lights</p>
                     </div>
                     <div class="flex gap-1 items-center hover:underline no-underline underline-offset-1 text-[#DEE2E6] mt-6">
                        <p class="text-[#DEE2E6] text-sm">Check us out! <i class="fa-solid fa-arrow-right text-button-blue"></i>
                        </p>
                     </div>
                  </div>
               </div>
            </section>
         </section>
      </wrap>
      <section class="pt-14 md:px-[5.5rem]  mb-[3rem]">
         <div class="flex flex-col lg:flex-row gap-4">
         <div class="p-6 flex justify-center">
            <div class="flex flex-col gap-1 md:w-full md:margin-0">
               <div class="flex flex-col ">
                  <p class="text-[3rem] bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">
                     Check our most
                  </p>
                  <p class="text-[3rem] text-[#DEE2E6]">visited cities</p>
                  </div
                  <p class="text-sm md:text-md lg:text-lg text-gray-400">
                     <%=city.description%>
                  </p>
               </div>
            </div>
            <style>
               @media screen and (min-width: 640px) {
               .md\:w-1\/2 { width: 50%; }
               .text-2xl { font-size: 1.5rem; }
               .text-sm { font-size: 0.875rem; }
               }
               @media screen and (min-width: 768px) {
               .lg\:text-4xl { font-size: 2.25rem; }
               .text-md { font-size: 1rem; }
               }
               @media screen and (min-width: 1024px) {
               .lg\:text-lg { font-size: 1.125rem; }
               }
            </style>
            <div>
            </div>
            <div class="w-1/2 p-4 flex justify-center">
               <div class="flex gap-3 lg:flex-col sm:flex-col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d182321.71624805694!2d25.954553533185234!3d44.43774014259286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f93abf3cad4f%3A0xac0632e37c9ca628!2sBucure%C8%99ti!5e0!3m2!1sro!2sro!4v1680600349491!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" class="rounded-md flex" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </div>
      </section>
      <section class="flex justify-center pt-8 md:px-[5.5rem]  mb-[3rem]">
         <div class="flex flex-col md:flex-col gap-4">
            <div class="flex flex-col gap-2 sm:flex-row">
               <div class="sm:w-full p-4 flex">
                  <div class="flex flex-col gap-2 items-center">
                     <% let c = 0 %>
                     <% for(let cat in city.interests){ %>
                     <% if(c==5){break}else{c++} %>
                     <% let cat_name = cat.charAt(0).toUpperCase() + cat.slice(1); %>
                     <div>
                        <h2 class="text-4xl font-extrabold bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text underline hover:underline-offset-4 transition duration-200 "><%=cat_name%></h2>
                     </div>
                     <div>
                        <% for(let intrst_index = 0 ; intrst_index < city.interests[cat].length ; intrst_index++  ){%>
                        <h2 class="text-2xl font-extrabold text-alice-blue"><span></span><%=city.interests[cat][intrst_index].name%></h2>
                        <p class="my-4 text-md text-gray-400"><%=city.interests[cat][intrst_index].description%></p>
                        <%}%>
                     </div>
                     <div class="sm:w-1/2 p-4 flex-col justify-between ">
                        <h2 class="text-4xl font-extrabold text-alice-blue">Pictures</h2>
                        <%- include("../../partials/carousel") %>
                     </div>
                     <%}%>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <%- include("../../partials/footer") %>
      <script src="../dist/scripts/particles/script.js"></script>
      <script src="../dist/scripts/particles/app.js"></script>
      <script src="../dist/scripts/particles/particles.min.js"></script>

   </body>
</html>