<!DOCTYPE html>
<html lang="en">
   <%-  include("../../partials/head.ejs")%>
   <body class="font-poppins overflow-y-auto overflow-x-hidden scrollbar scrollbar-thin scrollbar-rounded-lg" id="particles-js">
      <wrap class="flex justify-center">
         <section class="bg-cover bg-center w-[98%] rounded-lg mt-[1rem]"
            style="background-image: url('<%=city.banner_image%>'); ">
            <%- include("../../partials/navbar.ejs")%>
            <section class="mb-[7rem] mt-4">
               <div class="px-[5rem] flex justify-between">
                  <div class="flex flex-col">
                     <div class="flex flex-col">
                         <p class="text-[3rem] text-bold bg-opacity-50 bg-[#282E30] rounded-lg mb-1.5 ">
                          <% let city_name_uppercase = city.name.charAt(0).toUpperCase() + city.name.slice(1); %>
                          <%= city_name_uppercase %>
                        </p>
                        <p class="text-[3rem] text-[#DEE2E6] bg-opacity-50 bg-[#282E30] rounded-lg">Roam Free in Romania</p>
                     </div>
                  </div>
               </div>
            </section>
         </section>
      </wrap>
      <section class="pt-14 md:px-[5.5rem]  mb-[3rem]">
         <div class="flex justify-between md:flex-row flex-col gap-4">
    <div class="w-1/2 p-6 flex justify-center ">
      <div class="flex flex-col gap-1">
        <h1 class="text-[3rem] text-alice-blue"><span class="bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text"></span></h1>
        <p class="text-md text-gray-400"><%=city.description%></p>
      </div>
    </div>
	<div>
		
	</div>
    <div class="w-1/2 p-4 h-[500px] flex justify-center">
			<div id="google_map" class="w-full rounded-lg" >
                 
            </div>  
    </div>
  </div>
        
      </section>

      <section class="flex justify-center items-center pt-8 md:px-[5.5rem]  mb-[3rem]">
            <div class="flex justify-center flex-col sm:flex-row">
               <div class="p-4 flex items-center justify-center">
                  <div class="flex flex-col gap-2 w-5/6">
                     <% let c = 0 %>
                     <% for(let cat in city.interests){ %>
                     <% if(c==5){break}else{c++} %>
                     <% let cat_name = cat.charAt(0).toUpperCase() + cat.slice(1); %>
                     <div>
                        <h2 class="text-4xl font-extrabold bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text underline hover:underline-offset-4 transition duration-200"><%=cat_name%></h2>
                     </div>
                     <div>
                        <%for (let intrst_index = 0 ; intrst_index < city.interests[cat].length ; intrst_index++){%>
                        <h2 class="text-2xl font-extrabold text-alice-blue"><span></span><%=city.interests[cat][intrst_index].name%></h2>
                        <p class="my-4 w-5/6 text-md text-gray-400"><%=city.interests[cat][intrst_index].description%></p>
                        <%}%>
                     </div>
                     <%if(city.interests[cat].length > 1){%>
                     <div id="default-carousel" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                           <!-- Item 1 -->
                           <%for (let intrst_index_ = 0 ; intrst_index_ < city.interests[cat].length ; intrst_index_++){%>
                           <div class="hidden duration-700 ease-in-out" data-carousel-item>
                              <img src="<%=city.interests[cat][intrst_index_].image%>" class="absolute block object-cover object-center w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                           </div>
                          <%}%>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                          <%for (let img_index = 0 ; img_index < city.interests[cat].length ; img_index++){%>
                           <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide" data-carousel-slide-to="<%=img_index%>"></button>
                          <%}%>
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                           <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 bg-gray-800/30 group-hover:bg-white/50 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
                              <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                              </svg>
                              <span class="sr-only">Previous</span>
                           </span>
                        </button>
                        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                           <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 bg-gray-800/30 group-hover:bg-white/50 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
                              <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                              </svg>
                              <span class="sr-only">Next</span>
                           </span>
                        </button>
                     </div>
                     <%} else {%>
                       <%if(city.interests[cat][0]){%>
                       <div class="">
                              <img src="<%=city.interests[cat][0].image%>" class="block w-full rounded-md object-cover object-center" alt="...">
                        </div><%}%>
                     <%}%>
                     <%}%>
                  </div>
               </div>
            </div>
         
      </section>
      <%- include("../../partials/footer") %>
      <script src="../dist/scripts/particles/script.js"></script>
      <script src="../dist/scripts/particles/app.js"></script>
      <script src="../dist/scripts/particles/particles.min.js"></script> 
      <script>
      function myMap() {
        var city_obj = <%-JSON.stringify(city)%>
        console.log(city_obj.loc[1].$numberDecimal);
        
        var mapProp= {
          center:new google.maps.LatLng(city_obj.loc[0].$numberDecimal,city_obj.loc[1].$numberDecimal),
          zoom:11,
          mapId:'d419190f5970e70b',
        };
        var map = new google.maps.Map(document.getElementById("google_map"),mapProp);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4E4Nu_GKbQKSGMIlIKbTdwwwKfoWxMYc&callback=myMap"></script>
        
   </body>
</html>